Source: ellipsofit
Section: science
Priority: extra
Maintainer: Mario Geiger <geiger.mario@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, g++ (>= 4), libpthread-stubs0-dev, libpthread-stubs0, libqt4-dev (>= 4), libblitz-dev
Standards-Version: 3.8.3
Homepage: http://setup.weeb.ch

Package: ellipsofit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ellipsometer data analyse
 
